# Ignore everything in the root directory, except directories "plugins", "themes" and "mu-plugins".

/*

!.gitignore

!plugins/

!themes/

!mu-plugins/


# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)

plugins/*

!plugins/my-custom-plugin

# Ignore base/common themes, assume anything else in the "themes" directory

# is custom.

themes/twenty*

themes/genesis

# Apple stuff

.DS_Store

.AppleDouble

.LSOverride

Icon

# Backups and such

*.zip

*.tar.gz

*.http://tar.bz

# Thumbnails

._*

# Files that might appear on external disk

.Spotlight-V100

.Trashes

*.pydevproject

.project

.metadata

bin/**

tmp/**

tmp/**/*

*.tmp

*.bak

*.swp

*~.nib

local.properties

.classpath

.settings/

.loadpath

# External tool builders

.externalToolBuilders/

# Locally stored "Eclipse launch configurations"

*.launch

# CDT-specific

.cproject

# PDT-specific

.buildpath

# Codekit

*codekit*